{%extends "base2.html"%}
{% load static %}
{% block title%}
  Create
{% endblock title%}
{%block content%}


<body>
<style>
#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}


    </style>


<!--Contents-->
   <body>
    <div>
        <div style="display: inline-flex;">
            <div>
                <div  style="margin-top: 18vh; margin-left: 125vh; ">

                    <h4 style="color: #DCE1E9; background-color: rgba(225,225,225,0.3);">Recent NFTs created!</h4>
                </div>
                <div class="myImg" style="border: 1px solid #0c2436; background-color: #091a28; width: 40%; height:50%; margin-left: 5vh">
                   <input type="file" id="myFileInput" style="margin-left:13vh; margin-top: 5vh;" >
                   <h4>Once created, your NFTs will be displayed on your profile page.</h4>
                    <!-- <input type="button" value="Convert" id="convert"> -->
                   <br>
                </div>
                <div>

                </div>
            </div>
        </div>
        <div >
            <div class="features" >
              <input style="margin-left: 25vh;" type="radio" name="position" />
              <input style="margin-left: 25vh;" type="radio" name="position" checked />
              <input style="margin-left: 25vh;" type="radio" name="position" />

          <main id="carousel" style="border-left: 1px solid #DCE1E9;">
            <div class="item">
              <div id="hlight" class="card" style="width: 100%;">
                <img class="card-img-top" src="{% static 'img/ape3.png'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Mutant Ape</h5>

                </div>
              </div>
            </div>
            <div class="item">
              <div id="hlight" class="card" style="width: 100%;">
                <img class="card-img-top" src="{% static 'img/bun2.png'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Rare Bunnies</h5>

                </div>
              </div>
            </div>
            <div class="item">
              <div id="hlight" class="card" style="width: 100%;">
                <img class="card-img-top" src="{% static 'img/yyuyf.png'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">DeadFellaz</h5>

                </div>
              </div>
            </div>
          </main>
            </div>
        </div>
    </div>
</body>
<!--Footer-->
<style>
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}
    .my-4 {
    margin-top: 50vh!important;
    margin-bottom: 1.5rem!important;
}


</style>

<!--<div class="container" >-->
<!--  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">-->
<!--    <p class="col-md-4 mb-0 text-muted">© 2021 NFTMania, Inc</p>-->


<!--    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">-->
<!--      <li class="ms-3"><a href="https://www.facebook.com/index.php" target="_blank"><i class="fab fa-facebook"></i></a></li>-->
<!--      <li class="ms-3"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>-->
<!--      <li class="ms-3"><a href="https://twitter.com/i/flow/login" target="_blank"><i class="fab fa-twitter"></i></a></li>-->
<!--    </ul>-->
<!--  </footer>-->



   <script>


document.querySelector("#myFileInput").addEventListener("onclick", function(){

     //console.log(this.files)
    const reader = new FileReader();

    reader.addEventListener('load', ()=>{
    // get recent image value if value is null, then set value of recent-image to [], or else, append file to value of recent image, then set values for recent-image
        let content = JSON.parse(localStorage.getItem("recent-image"))
        if (content ==null){
            content = [reader.result]
        }
        else{

            content.push(reader.result)

        }

        localStorage.setItem("recent-image", JSON.stringify(content));
    });
    reader.readAsDataURL(this.files[0]);
});

// document.querySelector("#convert").addEventListener("click", function converter(){
// console.log("converting")

// var data = {img: "C:\Users\ty\Desktop\HTMLcours\Final Project\nft\create\cat1.png"};

// fetch("http://127.0.0.1:5001/convert", {
//   method: "POST",
//   headers: {'Content-Type': 'application/json'},
//   body: JSON.stringify(data)
// }).then(res => {
//   console.log("Request complete! response:", res);
// });
// })
    </script>




</div>
</body>


{%endblock content%}